<% if current_user %>
  <h1>you are a <%= current_user.role %></h1>
  <% if current_user.customer.present? %>
    <h1> your name is <%= current_user.customer.name %></h1>
  <% end %>
  <%= button_to 'LogOut', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'signIn', new_user_registration_path %>
<% end %>